body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111;
	background-attachment: fixed;
	margin: 0;
	min-height: 100vh;
}

body:not(.light-theme) {
	--colour-black: #24272d;
	--colour-red: #dc6069;
	--colour-green: #8dbb6e;
	--colour-orange: #e1b86f;
	--colour-blue: #57a5ed;

	--card-colour: #37393f;
	--card-shadow-colour: #0005;
	--text-colour: #f0f0f0;
	--input-shadow-colour: #0005;
	--button-text-colour: #f8f8f8;
	--load-remaining-colour: #111;
	--load-done-colour: #f0f0f0;

	--dark-theme-invert: invert(1);
	--class-icon-spritesheet-x-offset: -2rem;
}

body.light-theme {
	--colour-black: #282c34;
	--colour-red: #e06c75;
	--colour-green: #98c379;
	--colour-orange: #f1ac2c;
	--colour-blue: #61afef;

	--card-colour: #f0f0f0;
	--card-shadow-colour: #0005;
	--text-colour: #282c34;
	--input-shadow-colour: #0005;
	--button-text-colour: #f8f8f8;
	--load-remaining-colour: #ccc;
	--load-done-colour: #8dbb6e;

	--dark-theme-invert: invert(0);
	--class-icon-spritesheet-x-offset: -0.2rem;
}

* {
	box-sizing: border-box;
}

button {
	font-weight: bold;
	color: var(--button-text-colour);
}

button:hover {
	cursor: pointer;
}

input, button {
	border: none;
	border-radius: 0.1em;
	padding: 0.5rem;
	box-shadow: 0 0 0.2em var(--input-shadow-colour);
	font-size: 0.9rem;
	transition: 0.2s;
}

input:hover, button:hover {
	box-shadow: 0 0.1em 0.4em var(--input-shadow-colour);
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

.eu-colour {
	background-color: var(--colour-blue);
}

.na-colour {
	background-color: var(--colour-red);
}

.custom-colour {
	background-color: var(--colour-green);
}

a {
	color: inherit;
	text-decoration: none;
	opacity: 0.7;
	transition: opacity 0.2s;
}

a:hover {
	opacity: 1;
}
